@{
    ViewData["Title"] = "Home Page";
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema de Cadastro de Clientes a Internet</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Seja muito bem vindo ao nosso sistema de internet ilimitada
           
        </p>
    </div>
    <div class="col-md-4">
        <h2>Internet Rápida</h2>
        <p>Planos de Intenret </p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Veja a opniao dos clientes</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>Sistema de Web Api</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/5cu-final">See project source code &raquo;</a></p>
    </div>
</div>